#!/usr/bin/make -f
%:
	dh $@
override_dh_auto_build:
	cd web && npm ci --no-audit --no-fund && npm run build
	cargo build --release --locked
override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	cargo test --locked
endif
override_dh_auto_install:
	install -Dm755 target/release/browser-wayland-manager debian/browser-wayland-manager/usr/bin/browser-wayland-manager
	install -Dm644 packaging/environment debian/browser-wayland-manager/etc/browser-wayland-manager/environment
	install -Dm644 packaging/browser-wayland-manager.service debian/browser-wayland-manager/usr/lib/systemd/system/browser-wayland-manager.service
	install -Dm644 packaging/browser-wayland-manager.sysusers debian/browser-wayland-manager/usr/lib/sysusers.d/browser-wayland-manager.conf
	install -d debian/browser-wayland-manager/usr/share/browser-wayland-manager
	cp -r sessions .dockerignore debian/browser-wayland-manager/usr/share/browser-wayland-manager/
	install -Dm755 scripts/build-sessions debian/browser-wayland-manager/usr/share/browser-wayland-manager/scripts/build-sessions
override_dh_auto_clean:
	rm -rf target web/dist web/node_modules
override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start
