[Unit]
Description=Elsewhere Innkeeper
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=simple
User=elsewhere-innkeeper
Group=elsewhere-innkeeper
SupplementaryGroups=docker
StateDirectory=elsewhere-innkeeper
StateDirectoryMode=0700
EnvironmentFile=-/etc/elsewhere-innkeeper/environment
ExecStart=/usr/bin/elsewhere-innkeeper
Restart=on-failure
UMask=0077

[Install]
WantedBy=multi-user.target
